<html lang="en-GB">
  <!-- TODO Paramatize title -->
  {% set title = "Research" %}
  {% include 'components/head.html' %}
  <body>

    <!-- TODO Parametize nav -- highlight current page -->
    {% include 'components/header.html' %}

    <p>
      My article <a class="article">
	Supervaluationism about vague names cannot account for
	statements about those names</a> is forthcoming in Forum
	Philosophicum.

      <br>

      My article
      <a class="article"
	 href="https://ojs.st-andrews.ac.uk/index.php/aporia/article/view/2451">What
	Makes Thoughts about Specific Things?</a> was published in 2022 by Aporia.

      <br><br>

      I also give a lot of talks (which you can see on my CV), and
      have various things in preparation or under review. At some
      point, I will automate the build process for this site to
      display them all, perfectly up to date, automatically. Just as
      soon as I have both enough publications for it to be worth
      doing, <em>and</em> enough time to make it work properly. One
      day...

    </p>


  </body>
</html>
