html {
    margin-right: 20%;
    margin-left: 20%;
    font-size: 14pt;
    font-family: georgia, serif, sans-serif;
    hyphens: auto;
}

/* * Structure & Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 40px
}

.title, .nav-bar {
    display: inline;
}

/* On big screens, hide the checkbox and label used for the mobile
   menu */
.menu-toggle, input[type='checkbox'] {
    display: none;
}

/* Variable is useful for calling to inside the media query later */
:root { --default-title-size: 2.5em; }
/* These are 'about right' */
.title { font-size: var(--default-title-size); }
.nav-bar { font-size: 1.5em; }

a {
    /* Ensure they're still blue after clicking */
    color: blue;
    text-decoration: none;
}

.title, .nav-item {
    color: inherit;
}

.nav-item:hover, .current  {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

/* * Page layout */

* {
    /* https://www.w3schools.com/html/html_responsive.asp */
    box-sizing: border-box;
}

/* Picture on the left */
.portrait {
    padding-right: 20px;
    float: left;
    width: 50%;
}

p { margin: 0px; }

br {
    margin-bottom: 1.2ex;
}

/* Paragraph on the right */
.bio {
    /* No padding on the right */
    padding-left: 20px;
    float: left;
    width: 50%;
    text-align: justify;
    /* This seems to work the best */
    text-justify: initial;
}

/* * Licensing */

/* Mostly taken from
   https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
*/

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

p {
    flex: 1 0 auto;
}

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    /* Positioning */
    flex-shrink: 0;
    /* Typography */
    font-size: 75%;
    text-align: center;
    hyphens: none;
}

.cc-image {
    height: 2.5ex;
    vertical-align: middle;
}


/* * Contact and ORCID */

#orcid-id, .email {
    font-family: monospace;
    white-space: nowrap;
}

/* This is an attempt to conform to
   https://info.orcid.org/documentation/integration-guide/orcid-id-display-guidelines/#h-compact-orcid-i d*/
#orcid-logo {
    vertical-align: middle;
    height: 24px;
    width: px;
}

/* * 404 */

.warning-container {
    text-align: center;
    hyphens: none;
}

/* REALLY BIG */
#four-oh-four { font-size: 15em; }

/* * Responsive design */

/* ** Portrait */
@media screen and (max-width: 900px) and (orientation: portrait) {
    .portrait, .bio {
	width: 100%;
	/* Remove previous padding */
	padding: 0px;
    }

    .portrait {
	padding-bottom: 10px;
    }

    html {
	margin-right: 10px;
	margin-left: 10px;
    }

}


/* ** Landscape */
@media screen and (max-height: 900px) and (orientation: landscape) {
    html {
	margin-right: 10%;
	margin-left: 10%;
    }

}

/* ** General mobile things */
@media screen and (max-width: 900px) {

    /* (Show and) style the toggle switch */
    .menu-toggle {
	display: inline-block;
	
    }

    /* Hide nav-bar when checkbox not ticked */
    input[id='menu']:not(:checked)+.nav-bar {
	display: none;
    }
    
    .nav-item {
        /* Display vertically because mobile */
	display: block;
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
    }

    header {
	padding-top: 10px;
	padding-bottom: 10px;
	/* Keep the .title-bar block above the list navigation list */
	display: block;
    }

    #four-oh-four { font-size: 30vw; }

/* ** Burger Menu */

    .title-bar {
	position: relative;
    }

    /* Responsive sizing. Not perfect, but close enough */
    .title { font-size: min(var(--default-title-size), 10vw) ;}

    .menu-toggle {
        position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
        aspect-ratio: 1 / 1;
        border-radius: 0%;
        background-color: black;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	container-type: size;
    }

    .top { margin-top: calc(2 * 8cqh); }
    .bot { margin-bottom: calc(2 * 8cqh); }

    .burger {
	width: 70cqw;
	height: 8cqh;
	background-color: white;
    }

}
