html {
    margin-right: 25%;
    margin-left: 25%;
    font-size: 14pt;
    font-family: serif, sans-serif;
}

header {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title, .nav-bar {
    display: inline;
}

/* These are 'about right' */
.title { font-size: 2.5em; }
.nav-bar { font-size: 1.5em; }

a {
    /* Ensure they're still blue after clicking */
    color: blue;
    text-decoration: none;
}

.nav-item {
    color: inherit;
}

.nav-item:hover  {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

* {
    /* https://www.w3schools.com/html/html_responsive.asp */
    box-sizing: border-box;
}

/* Picture on the left */
.portrait {
    padding-right: 20px;
    float: left;
    width: 50%;
}

/* Paragraph on the right */
.bio {
    /* No padding on the right */
    padding-left: 20px;
    float: left;
    width: 50%;
    text-align: justify;
    /* This seems to work the best */
    text-justify: initial;
}

/* Use a media query to add a break point at 800px:
       And override the defaults from above*/
@media screen and (max-width: 1050px) {
    .portrait, .bio {
	/* The width is 100%, when the viewport is 800px or smaller */
	width: 100%;
	padding: 0px;
    }

    html {
	margin-right: 10px;
	margin-left: 10px;
    }

    .nav-bar {
	display: none;
    }

}
