html {
    margin-right: 25%;
    margin-left: 25%;
    font-size: 14pt;
    font-family: georgia, serif, sans-serif;
    hyphens: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 40px
}

.title, .nav-bar {
    display: inline;
}

/* These are 'about right' */
.title { font-size: 2.5em; }
.nav-bar { font-size: 1.5em; }

a {
    /* Ensure they're still blue after clicking */
    color: blue;
    text-decoration: none;
}

.title, .nav-item {
    color: inherit;
}

.nav-item:hover  {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

* {
    /* https://www.w3schools.com/html/html_responsive.asp */
    box-sizing: border-box;
}

/* Picture on the left */
.portrait {
    padding-right: 20px;
    float: left;
    width: 50%;
}

p { margin: 0px; }

br {
    margin-top: 1.2ex;
    margin-bottom: 1.2ex;
}

/* Paragraph on the right */
.bio {
    /* No padding on the right */
    padding-left: 20px;
    float: left;
    width: 50%;
    text-align: justify;
    /* This seems to work the best */
    text-justify: initial;
}

.email {
    font-family: monospace;
}

@media screen and (max-width: 1050px) {
    .portrait, .bio {
	width: 100%;
	padding: 0px;
    }

    /* This is the vertical/stacked equivalent of the left/right/ 20px
   padding above. */
    .portrait { padding-bottom: 10px }
    .bio { padding-top: 10px }

    html {
	margin-right: 10px;
	margin-left: 10px;
    }

    .nav-bar {
	display: none;
    }

    header {
	padding-top: 10px;
	padding-bottom: 10px
    }

}
