{% extends 'base.html' %}
{% block head %}
    <script>
  function hidePopoverById(id) {
      document.getElementById(id).hidePopover()
  }
document.getElementById('toc').hidePopover()
    </script>
{% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block preamble %}
    <div popover id="toc" class="toc">
        <nav class="toc" role="doc-toc">
            <h2>Contents</h2>
            <button popovertarget="toc" popovertargetaction="hide">✖</button>
            <ol>
                {% block toc %}{% endblock %}
            </ol>
        </nav>
    </div>
{% endblock %}
{% macro toc_item(id,title) %}
    <li>
        <a onclick="hidePopoverById('toc')" class="nav-item" href="#{{ id }}">{{ title }}</a>
    </li>
{% endmacro %}
{% block pre_content %}
    <button popovertarget="toc" id="toc-toggle">
        <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
            <!-- Main 'box' -->
            <rect height="100%" width="100%" class="burgerbox" />
            <!-- Three white lines -->
            <rect height="8%" width="8%" x="15" y="28" class="burgerbar" />
            <rect height="8%" width="54%" x="30" y="28" class="burgerbar" />
            <rect height="8%" width="8%" x="15" y="50" class="burgerbar" />
            <rect height="8%" width="54%" x="30" y="50" class="burgerbar" />
            <rect height="8%" width="8%" x="15" y="72" class="burgerbar" />
            <rect height="8%" width="54%" x="30" y="72" class="burgerbar" />
        </svg>
    </button>
{% endblock %}
