html {
    margin-right: 20%;
    margin-left: 20%;
    font-size: 14pt;
    font-family: georgia, serif, sans-serif;
    hyphens: auto;
}

/* Fix for minor scrolling issue */
html, body {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* * General styling */

h2 {
    font-size: large;
}

p {
    text-align: justify;
    /* This seems to work the best */
    text-justify: initial;
}

blockquote {
    font-style: italic;
    border-left: 3px solid;
    padding-left: 0.5em;
    hyphens: none;
    margin: 5px;
    &.display {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
    }

}

/*
   https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/#how-css-interacts-with-element-widths-and-heights
   */
img {
    height: auto;
    width: auto;
}

ul {
    list-style-type: "- ";
    padding-left: 15px;
}

/* Class for bits of text which give information about other bits of
   text. (definitions titles, etc.) */
.decoration {
    display: inline-block;
    font-weight: bold;
    font-size:small;
    hyphens: none;
}

/* * Structure & Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    padding-bottom: 40px
}

.title, .nav-bar {
    display: inline;
}

/* On big screens, hide the checkbox and label used for the mobile
   menu */
.menu-toggle, input[type='checkbox'] {
    display: none;
}

/* Variable is useful for calling to inside the media query later */
:root { --default-title-size: 2.5em; }
/* These are 'about right' */
.title { font-size: var(--default-title-size); }
.nav-bar { font-size: 1.5em; }

a {
    /* Ensure they're still blue after clicking */
    color: blue;
    text-decoration: none;
}

.title, .nav-item {
    color: inherit;
}

.nav-item:hover, .current  {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.nav-item:not(:last-child) {
    padding-right: 20px;
}

/* * Page layout */

* {
    /* https://www.w3schools.com/html/html_responsive.asp */
    box-sizing: border-box;
}

/* Picture on the left */
.portrait {
    padding-right: 20px;
    float: left;
    width: 50%;
}

p {
    margin: 0px;
    margin-bottom: 1.2ex;
}

/* Paragraph on the right */
.bio {
    /* No padding on the right */
    padding-left: 20px;
    float: left;
    width: 50%;
 }

/* * Research list */

.article {
    display: flex;
}

dd {
    padding-left: 10px;
}

/* Don't add an unnecessary margin to the last element
   https://stackoverflow.com/a/19254469/14915848 */
dd:not(:last-child), li {
    /* Slightly larger than the linebreak size, I think this is good for
       readability */
    margin-bottom: 1.5ex;
}

dt {
    float: left;
    clear: left;
    /* This (nearly) aligns the baseline of dt with that of dl. Not
       perfect, but it'll do for now */
    line-height: 4ex;
}

dt.decoration {
    width: 45px;
}

.abstract-label, .abstract-label:after {
    text-transform: uppercase;
    whitespace: preserve nowrap;
}

.abstract-label:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}

/* ** Collapsible abstracts */

/* NOTE We 'should' use the :open pseudo class here, but it isn't as
   widely supported as the [open] attribute selector. The "/" in the
   content marks alternative text, read out by a screenreader --
   effectively hiding the arrows in that case.
*/
/* TODO Maybe this needs some more looking at? Do the abstract buttons
   need better support? */
details:not([open]) .abstract-label::after {
    content: " ▸" / " closed";
}

details[open] .abstract-label::after {
    content: " ▾" / " open";
}

.abstract {
    text-align: justify;
    /* On desktop the textblock is wide enough that small differences in
       tracking/kerning are not noticeable, so it's nice to just not
       have any hyphenated text. */
    hyphens: none;
}

/* ** File icons */

.file-icon {
    display: inline-block;
    /* This is a magic number which corresponds pretty much exactly to the
       distance between the top of one line of text, and the baseline
       of the following line. */
    height: 4.5ex;
    padding-right: 5px;
}

/* * Teaching eval tables */

.bar {
    & tr {
	--labels-size: 300px;
    }

    & th {
	font-size: 80%;
	line-height: 0.9;
	text-align: left;
	font-weight: normal;
	hyphens: none;
    }

    & caption {
	font-style: italic;
    }

    /* table- leader is only visible on mobile, but I wanted it styled in
       the same way as the data labels, so that's declared here too.*/
    & .data, .table-leader {
	font-style: italic;
	padding-left: 3px;
	font-size: 90%
    }

    & .table-leader {
	text-align: left;
	/* Align the 'caption' leader with the labels */
	padding-left: 0pt;
    }

    & .data {
	font-style: italic;
    }

}

/* * Licensing */

/* Mostly taken from
   https://css-tricks.com/couple-takes-sticky-footer/#aa-there-is-flexbox
*/

body {
    /* This is so that the footer stays *right* at the bottom.*/
    display: flex;
    flex-direction: column;
    /* Make the body take up the whole screen */
    height: 100vh;
    justify-content: space-between;
}

main {
    display: initial;
    /* Equivalent to:
       flex-grow: 1;
       flex-shrink: 0;
       flex-basis: auto;

       The effect is that the <main> element fills all the spare
       screen between the nav/header and the footer.
   */
    flex: 1 0 auto;
}

.license {
    text-align: center;
}

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    /* Positioning */
    flex-shrink: 0;
    /* Typography */
    font-size: 75%;
    text-align: center;
    hyphens: none;
    width: 40%;
    align-self: center;
}

.cc-image {
    height: 2.5ex;
    vertical-align: middle;
}


/* * Contact and ORCID */

#orcid-id, .email {
    font-family: monospace;
    white-space: nowrap;
}

/* This is an attempt to conform to
   https://info.orcid.org/documentation/integration-guide/orcid-id-display-guidelines/#h-compact-orcid-i d*/
#orcid-logo {
    vertical-align: middle;
    height: 24px;
    width: px;
}

/* * 404 */

.warning-container {
    text-align: center;
    hyphens: none;
}

/* REALLY BIG */
#four-oh-four { font-size: 15em; }

/* * Responsive design */

/* ** Portrait */
@media screen and (max-width: 900px) and (orientation: portrait) {
    .portrait, .bio {
	width: 100%;
	/* Remove previous padding */
	padding: 0px;
    }

    .portrait {
	padding-bottom: 10px;
    }

    html {
	margin-right: 10px;
	margin-left: 10px;
    }

    dd {
	padding-left: 5px;
    }

}

/* ** Landscape */
@media screen and (max-height: 900px) and (orientation: landscape) {
    html {
	margin-right: 10%;
	margin-left: 10%;
    }

    /* This *additional* 20px account for the loss of the 20px
       padding-left in the bio (which has to have padding-left=0px
       so that the left edge of the text is flush with the left
       edge of the picture. */
    .portrait { margin-right: 20px; }
    .bio {
	/* No padding on the right */
	padding-left: 0px;
	float: none;
	width: auto;
    }

}

/* ** General mobile things */
@media screen and (max-width: 900px) {

    .mobile-only {
	display: initial;
    }

    /* (Show and) style the toggle switch */
    .menu-toggle {
	display: inline-block;
    }

    /* Hide nav-bar when checkbox not ticked */
    input[id='menu']:not(:checked)+.nav-bar {
	display: none;
    }
    
    .nav-item {
        /* Display vertically because mobile */
	display: block;
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
    }

    header {
	padding-top: 10px;
	padding-bottom: 10px;
	/* Keep the .title-bar block above the list navigation list */
	display: block;
    }

    footer { width: 100%; }

    #four-oh-four { font-size: 30vw; }

/* ** Research list  */

    /* These two rules give what seems to me like 'correct' wrapping */
    .article-text {
	display: inline;
    }

    .article {
	display: block;
    }

    .abstract {
	text-align: justify;
	/* On mobile, the text block is small enough that the kerning/tracking
           differences introduced by hyphens: none; are too much, so
           we use hyphens here.*/
	hyphens: auto;
    }

    .file-icon {
	float: left;
    }

/* ** Charts  */

    .bar {
	/* make the labels a reasonable size */
	& tr {
	    --labels-size: 150px;
	}

	/* Turn numbers around (and make them slightly smaller) */
	& .data {
	    font-size: 60%;
	    transform: rotate(90deg) !important;
	    transform-origin: bottom right;
	}	
    }


/* ** Burger Menu */

    .title-bar {
	position: relative;
    }

    /* Responsive sizing. Not perfect, but close enough */
    .title { font-size: min(var(--default-title-size), 10vw) ;}

    .menu-toggle {
        position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
        aspect-ratio: 1 / 1;
    }

    .burgerbox {
	fill: inherit;
    }

    /* This is a slightly pretentious hack, but it's very pleasing */
    .burgerbar {
	fill: inherit;
	filter: invert(100%);
    }

}
