{% extends 'long.html' %}
{% block title %}{{ super() }} | Practical Advice for aspirant academics{% endblock %}
{% block toc %}
    {%- for id, title in {
        'work': 'Work',
        'presentations-and-papers': 'Presentations and papers',
        'computers': 'Computers',
        'website': 'Website',
        'travel': 'Travel',
        'useful-bookmarks': 'Useful bookmarks',
        'finally': 'Finally'
        }.items() -%}
        {{ toc_item(id, title) }}
    {%- endfor %}
    {{ toc_item('footnotes', '(Footnotes)') }}
{% endblock %}
{% block content %}
    {%- set LaTeX -%}
        <span class="latex-logo">L<sup>a</sup>T<sub>e</sub>X</span>
    {%- endset %}
    {% macro footnoterefid(num) -%}
        fnr.{{ num }}{%- endmacro %}
        {% macro footnotetextid(num) -%}
            fnt.{{ num }}{%- endmacro %}
            {% macro footnoteref(num) -%}
                <sup><a title="Jump to footnote {{ num }} below."
   id="{{ footnoterefid(num) }}"
   class="footref"
   href="#{{ footnotetextid(num) }}"
   role="doc-noteref">{{ num }}</a></sup>
            {%- endmacro %}
            <section role="doc-introduction">
                <p>
                    This is a list of practical tips for philosophy PhD students who
                    want to make a career out of academia. As I write this, I am a last
                    year PhD student and have very consciously treated my PhD as an
                    apprenticeship in being an academic. When I began, I conscientiously
                    went looking for advice on how to do well. I found and read lots of
                    articles called things like ‘ten top tips for PhD students’. They
                    had two things in common: they were all aimed either at science
                    students, or PhD students in general (often with a bias towards
                    science), and they were all incredibly vague.
                </p>
                <p>
                    This was very frustrating. I had managed to get into a well
                    respected PhD program; I didn’t really need anyone to tell that me
                    it was good idea to use a calendar, meet with my supervisor, or not
                    work too hard (these all appear as real advice
                    on <a href="https://www.thesavvyscientist.com/tips-for-new-phd-students/">this
                    list</a>, which comes up if you Google ‘PhD advice’).
                </p>
                <p>
                    What I wanted was straightforward, <em>practical</em> advice,
                    ideally aimed at Philosophy students, covering things I might not
                    have thought of. So after three years of PhD study, here is an
                    attempt at some advice. It is a list of things you can <em>do</em>,
                    mostly pretty easily, which might help.
                </p>
                <p>
                    This list is not exhaustive or comprehensive, and is certainly not
                    a complete guide to doing a PhD or becoming an academic. Suggested
                    additions and corrections are very welcome—just email me
                    at <a class="email" href="mailto:{{ info.email | html_mung }}">{{
                    info.email | html_mung }}</a>.
                </p>
                <p>
                    See also:
                    <ol>
                        <li>
                            Mercedes
                            Corredo’s <a href="https://docs.google.com/document/d/1qIcU5T_zbEAOGAn7svux7etj3ELtOZZiTtwuIN8ubis/edit?usp=sharing">Resource
                            Hub for Philosophy Students</a>.
                        </li>
                        <li>
                            <a href="https://bpa.ac.uk/resources-for-early-career-philosophers/">The
                                British Philosophical Association’s resources
                                for early career philosophers</a>.
                            </li>
                            <li>
                                The <a href="https://dailynous.com/2025/08/14/practical-tips-for-philosophy-phd-students">Daily
                                Nous thread on this guide</a> as well as
                                the
                                whole <a href="https://dailynous.com/category/professionalism">category
                                of posts on professionalism</a>.
                            </li>
                            <li>
                                Neil
                                Mehta’s <a href="https://www.profneilmehta.com/resources.html">guide
                                to professional philosophy</a>: “A guide,
                                pitched at graduate students, to reading and
                                writing like a philosophy professor”.
                            </li>
                        </ol>
                    </p>
                </section>
                <section id="work">
                    <h1>Work</h1>
                    <ul>
                        <li>
                            <strong>Use a reference manager</strong>. Seriously. Any one
                            will do. Ideally one which can connect to
                            (Bib)<a href="https://www.latex-project.org/">{{ LaTeX }}</a>.{{ footnoteref(1) }} Whenever people new to graduate study ask me
                            for advice, I tell them this <em>first</em>. If you don’t know
                            which to use, use <a href="https://www.zotero.org/">Zotero</a>.
                        </li>
                        <li>
                            Keep templates for emails you (will) send a lot, and use them
                            when you do so. Some examples:
                            <ul>
                                <li>
                                    Beginning of term email to students in your seminar/lecture
                                    group.
                                    Include <a href="https://medium.com/@lportwoodstacer/how-to-email-your-professor-without-being-annoying-af-cf64ae0e4087">the
                                    guide to sending good emails</a> (or a rewritten/updated
                                    equivalent appropriate for your institution and country).
                                </li>
                                <li>Email to a student who isn’t coming to class.</li>
                                <li>
                                    Email two weeks before essay hand in with writing advice and
                                    hand-in information.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Keep notes on pretty much everything. It’s easy to write
                            something down, especially on a computer. If you’ve written it
                            down, the worst that can happen is that you never look at it
                            again. But if you
                            <em>don’t</em> write it down the worst that can happen is that
                            you want to look at it again, and can’t.{{ footnoteref(2) }}
                        </li>
                        <li>
                            Maintain a list of ideas for papers/books you want to write.
                            Never remove, only add.
                        </li>
                        <li>
                            If you take on a job with billable hours (admin, building
                            academic websites, typesetting etc.) do <em>nothing</em> for
                            free. Charge for your time reading emails. You are definitely
                            the only person who cares about whether you are charging for
                            11 hours rather 10.5.
                        </li>
                        <li>
                            <a href="https://smartquotesforsmartpeople.com/">Use the right
                                quotes</a>.
                            </li>
                            <li>
                                Find out as early as possible exactly what your department will
                                pay for <i lang="fr">vis-à-vis</i> things like travel to
                                conferences and overnight accommodation. Some are very generous
                                (and others are not). This information is often quite difficult
                                to pin down, and generally the most reliable sources will be
                                other, more senior, grad students (there is usually a grad
                                student whatsapp group and/or mailing list which is good for
                                this kind of thing). Sometimes money is allotted along very
                                fine-grained lines, with different pots for conference
                                attendance, research visits (e.g. a studentship/professorship)
                                and other research expenses.
                            </li>
                            <li>
                                Submit work to lots of conferences (and similar things). It’s
                                generally free to submit and often free or cheap to go, and as
                                a graduate student conferences are a great way to get feedback
                                on your work, build you CV and meet other people in your area.
                            </li>
                            <li>
                                Try to publish things. Ideally, you want to leave your PhD
                                with a couple of publications (though this <em>is</em> hard and
                                is <em>not</em> a requirement!)
                                See <a href="https://substack.com/home/post/p-162615965">Daniel
                                Muñoz’ advice</a> on this topic.
                            </li>
                            <li>
                                Buy your own board pens. They are always going missing, and
                                having your own is helpful. I
                                think <a href="https://www.viking-direct.co.uk/en/p/6127956">these</a>
                                are the best ones, and they’re refillable.
                            </li>
                            <li>
                                <p>
                                    Use a password manager. They’re free and easy to use. You will
                                    need to sign up for <em>so many things</em> during your studies,
                                    and managing all the logins gets old quickly. I
                                    recommend <em>not</em> using the one which comes built into your
                                    computer, because they often don’t have very good
                                    backup/export functions, and passwords are one thing you
                                    <em>definitely</em> want to be able to easily copy over onto
                                    your next machine. Install one with good backup support, or
                                    use a cloud-based one. I
                                    use <a href="https://www.passwordstore.org/">passwordstore</a>.
                                </p>
                                <p>
                                    Some people seem to believe that using a password manager
                                    makes them vulnerable to attack, because someone could steal
                                    their laptop and thus obtain all the passwords. This is not
                                    true; all password managers use strong encryption which
                                    would take a hacker millions of years to break. You are at
                                    much greater risk if you use the same password for
                                    everything, because many small companies won’t have very
                                    good security, and so getting your account with them hacked
                                    means an attacker has your password for everything else
                                    (even the companies with better security).
                                </p>
                            </li>
                            <li>
                                Subscribe
                                to <a href="https://www.liverpool.ac.uk/philosophy/philos-l/">Philos-L</a>—it’s
                                an excellent way to hear about conferences and talks.
                            </li>
                            <li>
                                Buy a second laptop charger and leave it at campus, so that
                                you don’t have to lug it to work and back every day. Do the
                                same for any other small things you can, just to make your
                                commute a bit easier (nice coffee cup, water bottle, etc.).
                            </li>
                            <li>
                                You’ll often come across texts which are hosted on PDCnet and
                                which you can’t access. These same texts (same journal, same
                                PDF) are often also
                                on <a href="https://www.jstor.org/">JSTOR</a> for free.
                            </li>
                            <li>
                                You should know
                                about <a href="https://annas-archive.org/">Anna’s archive</a>.
                            </li>
                            <li>
                                And about <a href="https://existentialcomics.com/comic/random">Existential Comics</a>, for some light relief.
                            </li>
                            <li>
                                For finding readings on new topics, two
                                less-well-known
                                gems: <a href="https://www.oxfordbibliographies.com/">Oxford
                                Bibliographies</a> are peer reviewed annotated
                                bibliographies on a single topic and
                                and <a href="https://thedailyidea.org/">The
                                Daily Idea</a> is a (huge) collection of links
                                to philosophy syllabi, reading lists and general
                                online resources, all for free, organised by topic.
                            </li>
                        </ul>
                    </section>
                    <section id="presentations-and-papers">
                        <h1>Presentations and papers</h1>
                        <ul>
                            <li>
                                Whenever you distribute your papers/chapters/writing, use PDF.
                                Everyone can open and use them. This is literally what PDF was
                                designed to do. Don’t use google docs, word, doc(x) or plain
                                text. Not everyone can open these, and they all have pretty
                                severe limitations which PDFs don’t. If you write in {{ LaTeX
                                }}, your should get PDFs out the other end by default.
                                <ul>
                                    <li>
                                        <a href="https://support.microsoft.com/en-gb/office/export-word-document-as-pdf-4e89b30d-9d7d-4866-af77-3af5536b974c">How
                                        to export a Word doc to PDF</a>
                                    </li>
                                    <li>
                                        <a href="https://support.google.com/docs/answer/49114">How
                                        to export a Google doc to PDF</a>
                                    </li>
                                    <li>
                                        <a href="https://support.apple.com/en-gb/guide/pages/tance1161f26/mac">How
                                        to export a Pages doc to PDF</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Make your presentations in PDF (for similar reasons). Everyone
                                can open and use them. PDFs don’t (really/practically) support
                                fancy transitions between slides,{{ footnoteref(3) }} but if
                                your talk gets significantly worse without the transitions, it
                                wasn’t a good talk to begin with.
                            </li>
                            <li>
                                Design your presentations with accessibility and simplicity in
                                mind. Don’t use complicated transitions, strange fonts or
                                flashing lights unless necessary (in philosophy, it is very
                                rarely necessary, unless you’re doing maths/logic with lots of
                                symbols).
                            </li>
                            <li>
                                For better or worse, Brian
                                Leiter's <a href="https://leiterreports.com/2022/08/23/best-general-journals-of-philosophy-2022-via-the-condorcet-method-and-via-an-average-of-both-methods/">Best
                                “general” journals of philosophy,
                                2022</a> has become a standard ranking
                                of which journals are better than others
                                (which matters when a prospective
                                employer looks at your CV).
                            </li>
                            <li>
                                The <a href="https://apasurvey.philx.org/">APA
                                Journal Survey</a> presents
                                crowd-sourced data on journal acceptance
                                rates and response times. The data is
                                shaky and the sample is often small, but
                                I have found it useful for choosing
                                journals to submit to early in the
                                publishing process. Some journals also
                                publish their own statistics on
                                acceptance rates and response times;
                                these are always more accurate than the
                                APA, but not all journals do this.
                            </li>
                        </ul>
                    </section>
                    <section id="computers">
                        <h1>Computers</h1>
                        <ul>
                            <li>
                                <strong>Learn to touch type</strong>. It’s worth it, really,
                                trust me. There are a few different free courses online. I
                                used <a href="https://www.typingclub.com/">this one</a>. I did
                                it over a winter break, doing an hour lesson every morning for
                                a couple of weeks. It’s so worth it. I can now confidently
                                type a quote out of a book lying beside my laptop without
                                looking at the keys <em>or</em> the screen.
                            </li>
                            <li>
                                Ensure your computer has a proper PDF reader. PDF is a very
                                powerful format{{ footnoteref(4) }} and a lot of software won’t
                                let you see all that some PDFs have to offer. This is true of
                                the default readers of mac and windows. The industry standard
                                is <a href="https://get.adobe.com/uk/reader/otherversions">Adobe
                                Acrobat</a>, which is free and available for mac and windows
                                machines{{ footnoteref(5) }} if you’re on Linux you can probably
                                look after yourself, but personally I
                                recommend <a href="https://okular.kde.org/en-gb/">Okular</a>.
                            </li>
                            <li>
                                Explore how Outlook works. All universities these days use
                                Outlook for email, and academia lives and dies by email. You
                                will spend a lot of time using Outlook-based software (whether
                                you like that idea or not!) so have a look at it. Some cool
                                things:
                                <ul>
                                    <li>Searching for people by their name</li>
                                    <li>
                                        <a href="https://support.microsoft.com/en-gb/office/create-view-and-edit-contacts-and-contact-lists-in-outlook-com-5b909158-036e-4820-92f7-2a27f57b9f01">Contacts
                                            lists</a>. During term I have a list for each group I'm
                                            teaching—it makes mass emails much easier.
                                        </li>
                                        <li>
                                            <a href="https://support.microsoft.com/en-gb/office/manage-email-messages-by-using-rules-in-outlook-c24f5dea-9465-4df4-ad17-a50704d66c59">Rules
                                                for managing email automatically</a> (filtering,
                                                auto-deleting etc.). I use this to keep Philos-L in a
                                                separate inbox.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Learn the basics of {{ LaTeX }} (if you’re a logician or a
                                        philosopher of maths/science, learn more). Eventually, it will
                                        be useful, and you will be glad you learned it when you did
                                        rather than doing it on the hoof.
                                        <ul>
                                            <li>
                                                When I learned, I found
                                                <a href="https://en.wikibooks.org/wiki/LaTeX">this
                                                    Wikibook</a> the best learning resource.
                                                    The <a href="https://www.overleaf.com/learn">Overleaf
                                                    documentation</a> is also good.
                                                </li>
                                                <li>
                                                    Personally, the most significant thing I’ve got out of {{
                                                    LaTeX }} is its capacity to automate my referencing. Far and
                                                    away the best tool for this
                                                    is <a href="https://ctan.org/pkg/biblatex">Biblatex</a>.
                                                    I <strong>strongly</strong> recommend learning how to use
                                                    Biblatex. There's
                                                    some <a href="https://www.overleaf.com/learn/latex/Bibliography_management_with_biblatex">Overleaf
                                                    documentation here</a>.
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="https://practicaltypography.com/">Matthew
                                                Butterick’s Practical Typography</a> is an
                                                excellent, free resource on making your
                                                documents beautiful and readable (both of
                                                which they should be!).
                                            </li>
                                            <li>
                                                If you use {{ LaTeX }} a lot, or submit to lots of journals
                                                which do, then every time you do so, make and keep a template
                                                file, with all the right settings and macros, for the next time
                                                you need to submit to that journal. By the time you are old and
                                                grey like me, you’ll thank yourself. This is especially relevant
                                                for people who work in logic, phil. math. and phil. sci., where
                                                the journals often have quite strict {{ LaTeX }}-related
                                                policies.
                                            </li>
                                            <li>
                                                <p>
                                                    Recognise, right now, that your computer (laptop, desktop
                                                    etc.) is temporary but the data on it is not. In other
                                                    words: during your academic career there will come a point
                                                    (probably in the next few years) where you need to use a new
                                                    machine, but with the same data/files on it. If you stay in
                                                    academia this will happen <em>many</em> times. Work out how
                                                    you manage this transition <em>in advance</em>. There are
                                                    basically two approaches:
                                                </p>
                                                <ol>
                                                    <li>
                                                        Don’t actually keep anything on the computer itself and
                                                        use a cloud service (Google Drive, One Drive, Dropbox
                                                        etc.) instead. Personally I don’t recommend this. Cloud
                                                        services are expensive for large amounts of data, often
                                                        don’t have much flexibility, and don’t allow you to work
                                                        on planes (early career academics spend a surprising
                                                        amount of time on planes!). They are also generally run by
                                                        large companies who want to steal your data.
                                                    </li>
                                                    <li>
                                                        Keep everything on the computer and learn to backup and
                                                        restore your data. This will probably be (marginally) more
                                                        complex but I think it’s worth it.
                                                    </li>
                                                </ol>
                                                <p>
                                                    Clearly I prefer 2 to 1. But doing 1 is definitely better
                                                    than doing neither!
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    Write an email signature. It looks professional and your
                                                    students may find it helpful. It should contain any relevant
                                                    information, but don’t overdo it. As with many such things,
                                                    the best way to judge this is to look at the signatures of
                                                    those around you, and see which you find useful/professional
                                                    and which you find annoying. Depending on your needs, you
                                                    might include:
                                                </p>
                                                <ul>
                                                    <li>Your pronouns.</li>
                                                    <li>Your name (perhaps with a pronunciation guide).</li>
                                                    <li>
                                                        A gentle indication to students of how to address you
                                                        (e.g. prefixing your name with ‘Dr’ or ‘Professor’, if
                                                        this sort of thing matters to you/your institution).
                                                    </li>
                                                    <li>Your office hours and their location.</li>
                                                    <li>Your website (see below).</li>
                                                    <li>
                                                        <strong>Brief</strong> indications of interesting
                                                        positions you currently hold. e.g. ‘Research assistant:
                                                        big-research-centre.com’. These really should be brief!
                                                    </li>
                                                </ul>
                                                <p>
                                                    It is (or was once) widely conventional to begin your
                                                    signature with ‘--’ with the rest following on the next
                                                    line.{{ footnoteref(6) }}
                                                </p>
                                            </li>
                                            <li>
                                                Smart TOC is fantastic. It's a simple
                                                browser add-on which can display a table
                                                of contents for any long webpage. You
                                                can see the structure of the page,
                                                search the table, go to different
                                                parts, and jump back forwards and backwards from your current position.
                                                You can get it for
                                                <a href="https://chromewebstore.google.com/detail/smart-toc/lifgeihcfpkmmlfjbailfpfhbahhibba?hl=en">Chrome</a>
                                                or
                                                <a href="https://addons.mozilla.org/en-GB/firefox/addon/smart_toc/">Firefox</a>.
                                                The basic version is free and some of
                                                the other features cost $5 for lifetime
                                                access (there's a 30-day free trial
                                                though).
                                            </li>
                                        </ul>
                                    </section>
                                    <section id="website">
                                        <h1>Website</h1>
                                        <p>
                                            At some point in your third or fourth year, setup a simple
                                            website with enough information about you to look professional.
                                            Some good examples of such websites:
                                        </p>
                                        <ul>
                                            <li>
                                                <a href="https://elisewoodard.org">elisewoodard.org</a>
                                            </li>
                                            <li>
                                                <a href="https://www.ashleyshaw.co.uk/">ashleyshaw.co.uk</a>
                                            </li>
                                            <li>
                                                <a href="https://hugoheagren.com">hugoheagren.com</a> (me!)
                                            </li>
                                        </ul>
                                        <p>Your website should:</p>
                                        <ul>
                                            <li>
                                                Be at an address which is as close to your name as possible
                                                (all the above are good examples of this).
                                            </li>
                                            <li>
                                                Work equally well on desktop computers or mobile
                                                phones/tablets (portrait <em>and</em> landscape).
                                            </li>
                                            <li>Make it very obvious how to contact you.</li>
                                            <li>
                                                List all your academic achievements, especially your
                                                publications.
                                            </li>
                                            <li>Include an obvious way to download a PDF of your CV.</li>
                                            <li>
                                                Probably not include much else, unless there is other relevant
                                                stuff you really want to include.
                                            </li>
                                        </ul>
                                        <p>
                                            Don’t worry too much about <em>how</em> you set it up. I wrote
                                            mine from scratch in plain HTML, but in this I am an exception.
                                            Using Wix, <a href="https://html5up.net/">html5up</a>, <a href="https://www.webnode.com/">webnode</a>
                                            or a similar builder is fine so long as you are confident in how
                                            to update the site in the future.
                                        </p>
                                        <p>
                                            I strongly recommend <em>not</em> using Squarespace.
                                        </p>
                                        <p>
                                            See also two Philosopher’s Cocoon posts with some helpful
                                            discussion:
                                        </p>
                                        <ul>
                                            <li>
                                                <a href="https://philosopherscocoon.typepad.com/blog/2022/09/putting-together-a-good-academic-website.html">putting
                                                together a good academic website?</a>
                                            </li>
                                            <li>
                                                <a href="https://philosopherscocoon.typepad.com/blog/2015/05/job-market-boot-camp-part-11-how-to-cultivate-a-professional-online-presence.html">job
                                                    market boot camp, part 11: how to cultivate a professional
                                                    online presence</a>.
                                                </li>
                                            </ul>
                                        </section>
                                        <section id="travel">
                                            <h1>Travel</h1>
                                            <ul>
                                                <li>
                                                    If you live in a city with a reasonable transport network (like
                                                    the tube in London, or the metro in New York), check if you can
                                                    get a student discount, or even better, a student-discounted
                                                    travelcard (tends to end up cheaper) if you travel around the
                                                    city a
                                                    lot. <a href="https://tfl.gov.uk/fares/free-and-discounted-travel/18-plus-student-oyster-photocard#on-this-page-6">TFL
                                                    do one for London</a> and it’s great.
                                                </li>
                                                <li>Get a passport if you don’t have one already!</li>
                                                <li>
                                                    Buy a good suitcase. if you’re doing it right, you’ll use it a
                                                    lot.
                                                </li>
                                                <li>Buy a universal travel adaptor.</li>
                                                <li>
                                                    Many universities offer travel insurance to all academic staff
                                                    for things like conferences and you’ll become academic staff
                                                    once you start teaching (i.e. during your PhD). Find out if
                                                    your institution offers travel insurance and if so how to sign
                                                    up for it. Note though that it tends to be fairly basic, so if
                                                    you have complex health needs or unusual risks, you might need
                                                    something extra.
                                                </li>
                                            </ul>
                                        </section>
                                        <section id="useful-bookmarks">
                                            <h1>Useful bookmarks</h1>
                                            <p>
                                                List of bookmarks in my web browser I regularly use (some may
                                                not apply to your institution):
                                            </p>
                                            <ul>
                                                <li>
                                                    <a href="https://outlook.office.com/mail">outlook.office.com/mail</a>
                                                </li>
                                                <li>PhD program handbook.</li>
                                                <li>
                                                    Undergraduate program handbook (for when undergrads email me
                                                    asking about their course).
                                                </li>
                                                <li>My timetable.</li>
                                                <li>List(s) of office hours (for faculty and for TAs)</li>
                                                <li>List(s) of available courses/modules.</li>
                                                <li>Library search page.{{ footnoteref(7) }}</li>
                                                <li>PhilPapers (I use ‘pp’ as a philpapers search keyword).</li>
                                                <li>The web printing page.</li>
                                                <li>
                                                    My current institution’s virtual classroom/learning service
                                                    (blackboard, canvas, keats, etc.).
                                                </li>
                                                <li>Site where I log hours for the work I do for the university.</li>
                                                <li>
                                                    Branding guide for my institution (internal web page with
                                                    fonts, logos, templates, etc.). This is useful for cover letters.
                                                </li>
                                            </ul>
                                        </section>
                                        <section id="finally">
                                            <h1>Finally</h1>
                                            <p>
                                                Give back a bit to the academic community. For example, you could
                                                keep notes on practical things which helped you during your time
                                                as a graduate student and then post them to your
                                                website <del>when</del> if you get a job.{{ footnoteref(8) }}
                                            </p>
                                        </section>
                                        {% macro footnotetext(num) -%}
                                            <p id="{{ footnotetextid(num) }}" class="footnote"  role="doc-footnote">
                                                <sup>{{ num }}</sup> {{ caller() }}
                                                <a title="Jump back to footnote {{ num }} in the text."
                                                   class="footing"
                                                   href="#{{ footnoterefid(num) }}"
                                                   role="doc-backlink">↩</a>
                                            </p>
                                        {%- endmacro %}
                                        <section id="footnotes" class="footnotes">
                                            <p>[Click the ↩ to go back up to the footnote label.]</p>
                                            {% call footnotetext(1) -%}
                                                <a href="https://tess.oconnor.cx/2007/08/tex-poshlet">Credit for
                                                typesetting ‘{{ LaTeX }}’ in HTML.</a>
                                            {%- endcall %}
                                            {% call footnotetext(2) -%}
                                                I try not to force my working practices on others, but
                                                here’s one exception (relegated to a footnote): I recommend
                                                keeping all your notes in <em>one</em> place, and not worrying
                                                too much about categorising them. In an undergraduate
                                                degree, there is a lot of structure imposed on the different
                                                pieces of information you have to remember (one course on
                                                ethics, another on epistemology, etc., and different folders
                                                for each). Graduate-level and up philosophy almost never
                                                works like this: things you learn in one class will feed
                                                into other classes in similar and related areas, and
                                                especially as you start presenting and publishing, similar
                                                things will be true of your own work. Trying to artificially
                                                segment things from the get-go eventually leads to a
                                                situation where you want to write something down but don’t
                                                know where to put it and have to either force into an
                                                existing box (bad), create yet another box (worse—hard to
                                                find everything later) or <em>not</em> write it down at all
                                                (worst case scenario). Better to only have one box and use
                                                that for everything. A good search function hides a
                                                multitude of organisational sins.
                                            {%- endcall %}
                                            {% call footnotetext(3) -%}
                                                For the pedantic: yes, the PDF specification ISO 32000
                                                Section 12.6.4.15 <em>does</em> specify ways for PDFs to
                                                include transition animations between different pages. But a
                                                spec is only good as its (widespread) adoption and support
                                                for these transitions is not widely implemented, especially
                                                not in the sort of non-specialist PDF viewers often used for
                                                presenting at conferences.
                                            {%- endcall %}
                                            {% call footnotetext(4) -%}
                                                The description of the format is about 1,000 pages. Those
                                                disbelieving of the sheer power of PDF should
                                                watch <a href="https://www.youtube.com/watch?v=V8PYG_BPbpg">this
                                                video</a>.
                                            {%- endcall %}
                                            {% call footnotetext(5) -%}
                                                I really don’t like Adobe’s business model of selling
                                                software as a service, so I’ve never really used Acrobat,
                                                but I recognise that most people don’t have the time or
                                                energy to care about such things.
                                            {%- endcall %}
                                            {% call footnotetext(6) -%}
                                                For those who are
                                                interested, <a href="https://en.wikipedia.org/wiki/Signature_block#Standard_delimiter">here’s
                                                why</a>.
                                            {%- endcall %}
                                            {% call footnotetext(7) -%}
                                                Some browsers (e.g.
                                                <a href="https://support.mozilla.org/en-US/kb/assign-shortcuts-search-engines">Firefox</a>)
                                                will let you setup a keyword for a search form. I use ‘lib’ for the
                                                library, so I can type ‘lib foobar’ into my browser’s address bar
                                                and this has the same effect as going to the library search page and
                                                searching for ‘foobar’. I find this makes searching for things a bit
                                                faster. {%- endcall %}
                                                {% call footnotetext(8) -%}
                                                    And never take yourself too seriously!
                                                {%- endcall %}
                                            </section>
                                        {% endblock %}
