name: build and deploy
on:
  workflow_dispatch:
  push:
    paths:
      # Data
      - "reviews.csv"
      - "references.csv"
      - "*.bib"
      # Site
      - "**.bib"
      - "**.py"
      - "**.html"
      - "**.css"
      - "assets/**"
      # CV/TeX
      - "*.tex"
      - "*.cls"
      - "*.bbx"
      - "*.cbx"
      # Always run when this action changes
      - ".github/workflows/cv-site.yml"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup TeX Live (with biber)
        uses: paolobrasolin/setup-texlive-action@main
        with:
          profile-path: ${{ github.workspace }}/texlive.profile
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.2"
          cache: 'pip'
      - name: Install requirements
        run: "pip install -r requirements.txt"

      - name: Ensure output directory exists, and store its path
        run: |
          out_dir="$(mktemp -d)"
          mkdir --parents "$out_dir"
          echo "OUT_DIR=$out_dir" >> "$GITHUB_ENV"

      - name: build CV
        run: "make cv"

      - name: Move CV PDF to output dir
        run: "mv cv.pdf ${{ env.OUT_DIR }}/Hugo-Heagren-CV.pdf"

      - name: Build site
        run: "make site PYTHON=python OUT_DIR=${{ env.OUT_DIR }}"

      - name: Upload outputs as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.OUT_DIR }}

  deploy:
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: deploy
        uses: actions/deploy-pages@v4
    