name: build and deploy website
on:
  push:
    paths:
      - "*.bib"
      - "*.py"
      - "*.html"
      - "*.css"
      # TODO is this right?
      - "assets/**"
env:
  OUT_DIR: '/tmp/site/'
  BIB_XML_FILE: '/tmp/cv.bltxml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install biber
        uses: teatimeguest/setup-texlive-action@v3
        with:
          packages: |
            biber
      - name: Generate BibLaTeX XML
        run: "biber --tool --output-format=biblatexml --output-file=${{ env.BIB_XML_FILE }} cv.bib"
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11.2"
          cache: 'pip'
      - run: "pip install -r requirements.txt"
      - run: "python build.py ${{ env.OUT_DIR }}"
      # Upload artifacts using actions/upload-pages-artifact
      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.OUT_DIR }}
  deploy:
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4